*{
    margin: 0;
    padding: 0;
}

.container{
    width: 30%;
    margin: 20px auto 20px;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid grey;
    background-color: rgba(0, 0, 255, 0.171);
}

#banco{
    font-size: 2rem;
}

#sucursal{
    font-size: 1.2rem;
    margin-bottom: 15px;
}

#titular{
    font-size: 1.7rem;
    font-weight: 600;
    color: darkblue;
    font-style: italic;
}

h2{
    font-size: 1.1rem;
    font-weight: 400;
}

#saldo_usd{
    font-size: 1.3rem;
    margin-top: 10px;
} 

#saldo_eur{
    font-size: 1.3rem;
    margin-bottom: 10px;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 200px;
    margin: 20px auto 20px;
    filter: drop-shadow(1px 1px 20px rgb(57, 57, 105));
}